@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Poppins:300,400,500,600,700,800,900");



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.body-content{
    margin-top: 100px;
}

.comment-success {
    min-height: 60px;
    line-height: 60px;
    width: 100%;
    background-color: springgreen;
    position: fixed;
    display: inline-block;
    bottom: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    vertical-align: middle;
}

.comment-success p {
    color: #3e3e3e;
}

.footer {
    border-top: 1px solid #e0e0e0;
    position: absolute;
    bottom: 0;
    line-height: 50px;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
}


.visible {
    display: block;
}

.comment-added-message {
    margin-top: 20px;
    padding: 0;
}

.loader-section {
    margin: 20px auto;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.dl-horizontal dt {
    white-space: normal;
}

.table > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
}

/* NAVBAR*/

.navbar {

}

.navbar-default {
    background-color: #fff;
    border: none;
    font-family: "Poppins", sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
}

    .navbar-default .navbar-brand {
        color: #232d37;
        font-size: x-large;
        font-weight: 400;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #f3a086;
        }

    .navbar-default .navbar-text {
        color: #232d37;
    }

    .navbar-default .navbar-nav > li > a {
        color: #232d37;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #f3a086;
        }

    .navbar-default .navbar-nav > li > .dropdown-menu {
        background-color: #ffffff;
    }

        .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
            color: #232d37;
        }

            .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
            .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
                color: #f3a086;
                background-color: #ffffff;
            }

        .navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
            background-color: #ffffff;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #f3a086;
        background-color: #ffffff;
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #f3a086;
        background-color: #ffffff;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #f3a086;
        background-color: #ffffff;
    }

    .navbar-default .navbar-toggle {
        border-color: #ffffff;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #ffffff;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #232d37;
        }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #232d37;
    }

    .navbar-default .navbar-link {
        color: #232d37;
    }

        .navbar-default .navbar-link:hover {
            color: #f3a086;
        }

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #232d37;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #f3a086;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #f3a086;
        background-color: #ffffff;
    }
}
